{% extends 'app/base.html'%} {% block content%}
<br></br>


{% if user.is_authenticated %}
  {% if permiso %}
    <div class = "container">
      <h1 class= "text-center">Crear Venta</h1>
      <br>
      {% if submitted %}
      <p class="success">
          Venta creada
      </p>
      {% else %}
      <form action="" method="post" novalidate>
      <table>
      {{ form.as_table }}
      <tr>
      <td>&nbsp;</td>
      <td>
        <input type="submit" value="Crear Items">
      </td>
      </tr>
      </table>
      {% csrf_token %}
      </form>
      </table>
    </div>
    {% endif %}
  {% else %}
    <h2 class="text-center">No tiene permisos para esta vista</h2>
  {% endif %}
{% endif %}
{% endblock%}