{% extends 'app/base.html'%} {% block content%}
<br></br>

<div class = "container">
  <h1 class= "text-left">Productos en Stock</h1>
  <br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio</th>
        <th scope="col">Tipo</th>
        <th scope="col">Farmacia</th>
      </tr>
    </thead>
    {% for producto in productos%}
    <tbody>
      <tr>    
        <td>{{producto.nombre}}</td>
        {% if producto.cantidad < 20 %}
          <td bgcolor="red">{{producto.cantidad}}</td>
        {% else %}
          <td>{{producto.cantidad}}</td>
        {% endif %}
        <td>{{producto.precio}}</td>
        <td>{{producto.venta_Libre}}</td>
        <td>{{producto.farmacia}}</td>
        {% if permiso %}
        <td><a href="{% url 'add-stock' producto.id %}"
              ><input
                type="button"
                value="Añadir Stock"
                class="btn btn-secondary btn"
            /></a></td>
        {% endif%}
      </tr>
    </tbody>
    {% endfor %}
  </table>
  <hr> 
</div>
{% endblock%}