{% extends 'app/base.html'%} {% block content%}
<br></br>

<div class = "container">
  <h1 class= "text-center">Productos en Stock</h1>
  <br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        {% comment %} <th scope="col">codigo_barras</th>         {% endcomment %}
        <th scope="col">Precio</th>
        <th scope="col">Tipo</th>
        <th scope="col">Farmacia</th>
      </tr>
    </thead>
    {% for producto in productos%}
    <tbody>
      <tr>    
        <td>{{producto.nombre}}</td>
        <td>{{producto.cantidad}}</td>
        {% comment %} <td>{{producto.codigo_barras}}</td> {% endcomment %}
        <td>{{producto.precio}}</td>
        <td>{{producto.venta_Libre}}</td>
        <td>{{producto.farmacia}}</td>
        <td><a href="{% url 'add-stock' producto.id %}"
              ><input
                type="button"
                value="Añadir Stock"
                class="btn btn-secondary btn"
            /></a></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock%}